* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 1110px;
    margin: 0 auto;
  }
  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
  /* html{
    box-sizing: border-box;
  } */
  
  *::after,
  *::before {
    box-sizing: inherit;
  }
  .page-nav {
    padding: 15px 0;
   }
  .menu {
    list-style: none;
    float: right;
    padding-top: 42px;
  }
  .submenu {
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .submenu:last-child {
    margin-right: 0;
  }
  .site-logo {
     float: left;
     padding-top: 37px;
  }
  .submenu a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(15, 1, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  img {
    display:block;
    max-width: 100%;
    height: auto;
  }
  .submenu-link:hover{
    color: #1cb99a;
  }    
  .page-header{
    margin-bottom: 38px;
  }


.slider {
  padding: 0;
  margin: 0;
  min-width: 1110px;
  width: 100%;
  height: auto;
  z-index: 100;
} 
.slider-img {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
.slides-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.slider-tittle {
  position: absolute;
  width: 100%;
  height: 100%;
    /* background:rgba(0, 0, 0,0.5); */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.sliderbutton {
  position: absolute;
  width: 1108px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.slider-ctrl {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%); 
  width: 104px;
  height: 104px;
  background: rgba(26, 188, 156,0.5);
  border: 0px solid rgb(26, 188, 156);
}
.slider-ctrl img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.slider-ctrl:hover{
  background: rgba(26, 188, 156,1);
  cursor: pointer;
}
.slider-ctrl-prev {
  left: 0px;
}
.slider-ctrl-next {
  right: 0px;
}
.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 900px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;    
  text-transform: uppercase;
}
.slider-text-headline {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-110%);
width: 736px;
/* height: 2em; */
font-size: 54px;
color: rgb(255, 255, 255);
}
.slider-text-mini {
  position: absolute;
  font-size: 22px;
  font-weight: 300;
  color:white; 
  transform: translate(17%, 45%)
}
.products{
  padding-top: 90px;
}
.title{
  font-size: 48px;
  line-height: 80px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  text-align: center;
  margin: 0;
}
.title::after{
  margin-bottom: 27px;
  content: "";
  display: block;
  height: 6px;
  width: 114px;
  background: rgb(78, 198, 171);
  margin: 0 auto;
  margin-bottom: 75px;
}
.product-list {
  background-color: rgb(233, 240, 253);
  padding: 0;
}
.product-list-item {
  position: relative;
  width: 255px;
  height: 320px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 0 30px 30px 0;
  float: left;
}
.product-list-item:hover.name {
  background: #1abc9c;
}
.product-list-item:hover.price {
  background: #7fd9c7;
}
.product-list-item:nth-child(4n) {
  margin-right: 0;
} 
.photo {
  width: 255px;
  height: 280px;
  background: rgb(233, 240, 253);
}
.photo-size{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  height: 40px;
  width: 195px;
  background: rgb(50, 50, 50);
  float: left;
  padding-left: 15px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.price {
  width: 60px;
  height: 40px;
  background: rgb(140, 140, 140);
  float: left;
  text-align: center;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  float: left;
}
.price::before {
  content: "$";
}
.product-list-item-icon-all {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 235px;
  height: 260px;
  background:rgba(0, 0, 0,0.5);
  opacity: 0;
}
.product-list-item-icon:hover .name,
.product-list-item-icon:focus .name {
  background: rgb(26, 188, 156);
}
.product-list-item-icon:hover .price,
.product-list-item-icon:focus .price{
  background: rgb(127, 217, 199);
}

.product-list-item-icon-img {
  width: 48px;
  height: 48px;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  border: 1px solid rgb(255, 255, 255);
}
.product-list-item-icon-img img {
  position: absolute;
  top: 50%;
  transform: translate(44%,-50%);
}
.product-list-item-icon-img:hover{
  background: rgb(26, 188, 156);
  border: 2px solid rgb(26, 188, 156);
  cursor: pointer;
}
.product-list-item-icon {
  position: relative;
}
.product-list-item-icon-all:hover {
  opacity: 1;
}
.product-list-item-icon-img4 {
  width: 164px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255);
  transform: translate(-81px, 30px);
}
.product-list-item-icon-img4 img {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(35%,-50%);
  float: left;
}
.product-list-item-icon-img4 h6 {
  position: absolute;
  font-weight: 400;
  width: 100px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-25%,-50%);
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
}
.product-list-item-icon-img4:hover {
  background: rgb(50, 50, 50);
  border: 2px solid rgb(50, 50, 50);
  cursor: pointer;
}
.product-list-item-icon-img1 {
  transform: translate(-81px,-24px);
  top: 50%;
   left: 50%;
}
.product-list-item-icon-img2 {
  
  transform: translate(-23px,-24px);
}
.product-list-item-icon-img3 {
  
  transform: translate(35px,-24px);
}
.footer {
  position: relative;
  width: 100%;
  height: 90px;
  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}
.footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.footer-text a:hover {
  color: rgb(26, 188, 156);
}
.products {
 background: rgb(233, 240, 253);
 margin: 0;
}














